<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO LIST APP</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>

  <body>
    <div class="Dashboard_Container">
      <div class="top">
        <div class="appName">TO-DO-LIST APP</div>

        <span class=" deleteAll deleteAllContainer">
          <i class="deleteAll fa-solid fa-trash-can"></i>
          <p class="deleteAll">Empty List</p></span
        >
        <span class="logout logoutContainer">
          <i class="logout fa fa-sign-out" aria-hidden="true"></i>
          <p class="logout">Logout</p>
        </span>
        <span class="loaderArea"></span>
      </div>

      <div class="mainContainer">
        <div id="item_list" class="taskLists">
          <!-- add div.task dynamically here -->

          <!-- <div class="task">
            <div class="content">
              <ol>
                <li>Make a wish</li>
              </ol>
            </div>
            <div class="actions">
              <span><i class="fa-solid fa-pen-to-square edit"></i></span>
              <span><i class="fa-solid fa-trash delete"></i></span>
             
            </div>
          </div> -->
        </div>
        <button class="show_more">
          Show More
          <i class="fa-solid fa-caret-down"></i>
        </button>
        <!-- input task -->
        <div class="TaskInput">
          <div class="InputHolder">
            <input
              type="text"
              id="create_field"
              class="newTaskInput"
              placeholder="What would you like to do?"
            />
            <button class="add_item addTaskBtn">Add</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/browser.js"></script>
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
  </body>
</html>
