<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple To-Do App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
  <style>
    /*========= Loader ============= */
    .loader {
      border: 4px solid #f3f3f3;
      /* Light grey */
      border-top: 4px solid #3498db;
      /* Blue */
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 2s linear infinite;
      display: inline-block;
      margin-left: 10px;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>
  <div class="container">
    <h1 class="display-4 text-center py-1">TD</h1>

    <div class="jumbotron p-3 shadow-sm">

      <div class="d-flex align-items-center">
        <input id="create_field" name='todo' autofocus autocomplete="off" class="form-control mr-3" type="text"
          style="flex: 1;">
        <button class="add_item btn btn-primary">Add New Item</button>
      </div>

    </div>

    <ul id="item_list" class="list-group pb-5">
    </ul>


    <button class="show_more">Show More</button>
    <button class="logout"> Logout </button>
    <button class="logoutAll"> Logout all devices </button>



  </div>
  <script src="/browser.js"></script>
  <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>

</body>

</html>







